$off-black: #b0b2bb;
$off-white:#d3d0d0b2;
$white:#ffffff;
$dark-grey:#333333;
$grey: #666;
$blue:#0079c4;
$dark-orage: #BF531C;
$dark-blue:#2c405a;
$green:#4ece3d;
$light-grey:#96a0ad;

$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem; 
$xl-size: 4.8rem;

$desktop-breakpoint:45rem;
